body {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar-brand {
  padding-left: 4vh;
  padding-right: 4vh;
  font-weight: 500;
}

#header {
  background: rgb(0,0,0);
  background: linear-gradient(124deg, rgba(0,0,0,1) 0%, rgba(103,103,103,1) 40%, rgb(189, 188, 188) 100%);
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: black;
  top: 0;
  left: 0;
  padding-top: 30vh;
  border: 0;
  border-bottom: 1vh;
  border-color: black;
  border-style: solid;
}

.title {
  font-size: 10vh;
  font-weight: 700;
}

.subtitle {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.content {
  padding-top: 5vh;
  padding-left: 3vh;
  width: 75vw;
}

canvas {
  margin-bottom: 5vh;
  margin-top: 3vh;
  outline: black 0.5vh solid;
}

ul {
  list-style-type: none;
}